Source: kodi-callback-daemon
Section: devel
Priority: extra
Maintainer: Peter Fern <github@obfusc8.org>
Build-Depends: debhelper (>= 9.1.0), golang-go | go
Standards-Version: 3.9.4

Package: kodi-callback-daemon
Provides: xbmc-callback-daemon
Breaks: xbmc-callback-daemon
Architecture: any
Description: A small Go daemon for processing notifications from Kodi/XBMC
 A small Go daemon that reads notifications from Kodi/XBMC via the JSON-RPC
 socket, and performs actions based on those notifications.

Package: kodi-callback-daemon-dev
Architecture: all
Description: A small Go daemon for processing notifications from Kodi/XBMC - development package
 A small Go daemon that reads notifications from Kodi/XBMC via the JSON-RPC
 socket, and performs actions based on those notifications.

